@import "tailwindcss";

:root {
  --font-poppins: 'Poppins', sans-serif;
}

.font-poppins {
  font-family: var(--font-poppins);
}

.container {
  max-width: 1440px;
}

html {
  scroll-behavior: smooth;
}

